@model SolKineticsIrrigation.Web.ViewModels.ScheduleView
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@Html.LabelFor(model => model.NextWatering)
@Html.DisplayFor(model => model.NextWatering)